.dropbtn {
	background-color:white;
	color: black;
	padding: 16px;
	font-size: 13px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #2196f3;
}

		
.icons p a{
		padding: 10px;
		  font-size: 30px;
		  width: 10px;
		  text-align: center;
		  text-decoration: none;
		
		 }
		 .icons p a i{
		 margin-left:6px;
		 }
		.icons p a .fa-facebook-square:hover{
		color:white;
		}
		.icons p a .fa-facebook-square{
		color:#050d79;
		}
		.icons p a .fa-twitter-square:hover{
		color:white;
		}
		.icons p a .fa-twitter-square{
		color:#052e50;
		}
		.icons p a .fa-pinterest-square:hover{
		color:white;
		}
		.icons p a .fa-pinterest-square{
		color:#c5360a;
		}
		.icons p a .fa-google-plus-square:hover{
		color:white;
		}
		.icons p a .fa-google-plus-square{
		color:red;
		}

.container{
	background-image:url("images/j.jpg");
	height:100%;
	width:100%
}
		
.ram {
filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    }

    .ram:hover {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
	filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out;  
	}