table {
	border:0 !important;
	
	}

  th {
	color:#c6d5e6 !important;
	text-align:center !important;
	border:0 !important;
	padding-top:20px !important;
	padding-bottom:20px !important;

	
	}
	
	
	
 td {
   color:#1b1717 !important;
 
   text-align:center;
   padding-bottom:30px !important;
	}


		
		
			.dropbtn {
				background-color:white;
				color: black;
				padding: 16px;
				font-size: 13px;
				border: none;
			}

			.dropdown {
				position: relative;
				display: inline-block;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #f9f9f9;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
			}

			.dropdown-content a:hover {background-color: #f1f1f1}

			.dropdown:hover .dropdown-content {
				display: block;
			}

			.dropdown:hover .dropbtn {
				background-color: #2196f3;
			}

			.icons p a{
		padding: 10px;
		  font-size: 30px;
		  width: 10px;
		  text-align: center;
		  text-decoration: none;
		
		 }
		 .icons p a i{
		 margin-left:6px;
		 }
		.icons p a .fa-facebook-square:hover{
		color:white;
		}
		.icons p a .fa-facebook-square{
		color:#050d79;
		}
		.icons p a .fa-twitter-square:hover{
		color:white;
		}
		.icons p a .fa-twitter-square{
		color:#052e50;
		}
		.icons p a .fa-pinterest-square:hover{
		color:white;
		}
		.icons p a .fa-pinterest-square{
		color:#c5360a;
		}
		.icons p a .fa-google-plus-square:hover{
		color:white;
		}
		.icons p a .fa-google-plus-square{
		color:red;
		}
.content{
width: 100%;
  height: 100%;
  border-right: 1px dotted #CCC;
   text-align:left;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
 margin-top: 120px;
   margin-left: 30px;
   margin-right: 0px;
   margin-bottom: 30px;
  
 
}#myid{
 width: 20%;
 float: left;
 


}
#myfrm3{
    background-image: url(""); 
 
  
  width: 65%;
  margin-left:113px;
}
#myfrm1{
    background-image: url(""); 
  float: middle;
  
  width: 65%;
}
#myfrm12{
    background-image: url(""); 
  float: middle;
  width: 65%;
}
#myfrm2{
    background-image: url(""); 
  float: middle;
  width: 65%;
}
#mylabel{
    width: 30%;
	display: inline;
}
#frmbody{
    border-top: 2px solid black;
    
 	

}
form h1 {
  font-size: 18px;
  background: #F6AA93 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}

form {
 
  border-radius: 5px;
     padding: 10px;
  width:100%;
  margin: 5% auto;
  background-color: transparent;
  overflow: hidden;
}
.contentform {
   
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   text-align:left;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:0px;
  
   
  padding: 0px 30px;
}
 body {
  margin: auto;
  background-color:white;  
  font-family: 'Open Sans', sans-serif;
}
.content{
width: 100%;
  height: 100%;
  border-right: 1px dotted #CCC;
   text-align:left;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
 margin-top: 120px;
   margin-left: 30px;
   margin-right: 0px;
   margin-bottom: 30px;
  
 
}
.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}
form h1 {
  font-size: 18px;
  background: #F6AA93 none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 22px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}

form {
 
  border-radius: 5px;
     padding: 10px;
  width:100%;
  margin: 5% auto;
  background-color: transparent;
  overflow: hidden;
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  color:#333;
}

h1 {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:0px 0px 0px 0px
}

.in input{
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 0px;
  margin-left: 5px;
  width: 75%;
  height: 42px;
  float: left;
  padding: 5px 15px;
}

a {
  text-decoration:inherit
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  margin-left: 5px;
  border-radius: 5px 0px 0px 5px;
  background:rgba(186, 183, 140, 0.52);
  height:42px;
  position: relative;
  text-align: center;
  line-height:40px;
  padding-left: 5px;
}

i {
  color:#555;
}

.contentform {
   
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   text-align:left;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:0px;
  
   
  padding: 0px 30px;
}

.bouton-contact{
   align: center;
  background-color: rgba(57, 104, 57, 0.42);
  color: #FFF;
  text-align: center;
  width: 79%;
  border:0;
  padding: 17px 25px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 13px;
  font-size: 18px;
  margin-left: 28px;
  margin-bottom:-8px
}

.leftcontact {
  width: 100%; 
  float:left;
  
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}


}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:left;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
  
}
#myid{
 width: 20%;
 float: left;
 


}
#myfrm3{
    background-image: url(""); 
 
  
  width: 65%;
  margin-left:113px;
}
#myfrm1{
    background-image: url(""); 
  float: middle;
  
  width: 65%;
}
#myfrm12{
    background-image: url(""); 
  float: middle;
  width: 65%;
}
#myfrm2{
    background-image: url(""); 
  float: middle;
  width: 65%;
}
#mylabel{
    width: 30%;
	display: inline;
}
#frmbody{
    border-top: 2px solid black;
    
 	

}
.image-upload > input {

      width: 200;
    height: 200;
  }